{% extends 'base.html' %}
{% load static %}
{% block title %}Best Developer Portfolio{% endblock title %}
{% block content %}
<!-- Header -->
<section class="hero is-link is-fullheight is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">Hello! I am
      <h1 class="title is-1">
        Simon Okello
      </h1>
      <h2 class="subtitle is-3">
        <a href="https://www.w3schools.com/whatis/whatis_fullstack.asp"
        target="_blank" rel="noopener noreferrer">
          Full Stack Web Developer
        </a>
      </h2>
    </div>
  </div>
</section>

<!-- About -->
<section class="section" id="about">
  <!-- Title -->
  <div class="section-heading">
    <!-- <article class="level-item has-text-centered> -->
    <h3 class="title is-2">About Me</h3>
    <!-- {% if request.user.is_authenticated %}
          <span class="icon has-text-centered">
            <a href="#">
                <i class="fas fa-pen"></i>
            </a>
        </span>{% endif %} -->
    <!-- </article> -->
    {% for obj in about %}
    <h4 class="subtitle is-5">{{obj.tag_line}}</h4>
    <div class="container">

      <p>{{obj.about_me}}</p>
      {% endfor %}
    </div>
  </div>

  <div class="columns has-same-height is-gapless">
    <div class="column">
      <!-- Profile -->
      <div class="card">
        <div class="card-content">
          <h3 class="title is-4">Profile</h3>

          <div class="content">
            <table class="table-profile">
              {% for obj in about %}
              <tr>
                <th colspan="1"></th>
                <th colspan="2"></th>
              </tr>
              <tr>
                <td>Address:</td>
                <td>{{obj.address}}</td>
              </tr>
              <tr>
                <td>Phone:</td>
                <td>{{obj.phone}}</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>{{obj.user.email}}</td>
              </tr>

            </table>
          </div>
          <br>
          <div class="buttons has-addons is-centered">
            <a href="{{obj.github_url}}" class="button is-link" target="_blank" rel="noopener noreferrer">Github</a>
            <a href="{{obj.linkedin_url}}" class="button is-link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            <!-- <a href="#" class="button is-link" target="_blank" rel="noopener noreferrer">Twitter</a> -->
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="column is-hidden-mobile">
      <!-- Profile picture -->
      <div class="card">
        <div class="card-image">
          <figure class="image is-4by3">
            <img src="https://source.unsplash.com/collection/9599614/1280x960" alt="Simon Okello Portfolio">
          </figure>
        </div>
      </div>
    </div>
    <div class="column">
      <!-- Skills -->
      <div class="card">
        <div class="card-content skills-content">
          <h3 class="title is-4">Skills</h3>
          <div class="content">
            {% for skill in skills %}
            <article class="media">
              <div class="media-content">
                <div class="content">
                  <p>
                    <strong>{{skill.name}}:</strong>
                    <br>
                    <progress class="progress is-primary" value="100" max="100"></progress>
                  </p>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Skills tags -->
<br>
<div class="tags custom-tags">
  {% for item in skill_tags %}
  <a href="http://google.com/search?q={{item}}" target="_blank" rel="noopener noreferrer"><span
      class="tag is-light">{{item}}</span></a>

  {% endfor %}
</div>

<!-- Services -->
<section class="section" id="services">
  <div class="section-heading">
    <h3 class="title is-2">Services</h3>
    <h4 class="subtitle is-5">What can I do for you?</h4>
  </div>
  <div class="container">

    <div class="columns is-multiline">
      {% for service in services %}
      <div class="column is-6">
        <div class="box">
          <div class="content">
            <h4 class="title is-5">{{service.name}}</h4>
            {{service.description}}.
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
</section>

<!-- Resume -->
<section class="section" id="resume">
  <div class="section-heading">
    <h3 class="title is-2">Resume</h3>
    <h4 class="subtitle is-5">More about my past</h4>
    <a href="{% for obj in resume %}{{obj.c_vitae.url}}{% endfor %}" target="_blank" rel="noopener noreferrer"
      class="button is-link is-medium">
      <span class="icon">
        <i class="fas fa-file-alt"></i>
      </span>
      <span>Download My Resume</span>
    </a>
  </div>
</section>

<!-- Portfolio -->
<section class="section" id="portfolio">
  <div class="container">
    <div class="section-heading">
      <h3 class="title is-2">Portfolio</h3>
      <h4 class="subtitle is-5">My latest works</h4>
    </div>
    <br>

    <div class="container portfolio-container">
      <div class="columns is-multiline">
        {% for obj in portfolio %}
        <div class="column is-4">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span>{{obj.name}}</span>
                <span class="is-pulled-right">
                  {% for item in common_tags %}
                  <span class="tag is-default">{{item}}</span>
                  {% endfor %}
                </span>
              </p>
            </header>
            <div class="card-content">
              <figure class="image">
                <img src="{{obj.screenshot.url}}" alt="sample work screenshot">
              </figure>
            </div>
            <footer class="card-footer">
              {% if obj.preview_url %}
              <a href="{{obj.preview_url}}" class="card-footer-item" target="_blank"
                rel="noopenner noreferrer">Preview</a>
              {% else %}
              <a href="{{obj.preview_url}}" class="card-footer-item" target="_blank" rel="noopenner noreferrer"
                onclick="return false;">Preview</a>
              {% endif %}
              {% if obj.source_code_url %}
              <a href="{{obj.source_code_url}}" class="card-footer-item" target="_blank"
                rel="noopenner noreferrer">Source
                Code</a>
              {% else %}
              <a href="{{obj.source_code_url}}" class="card-footer-item" target="_blank" rel="noopenner noreferrer"
                onclick="return false;">Source
                Code</a>
              {% endif %}
            </footer>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<!-- Achievement Level -->
<!-- <section class="section">
      <nav class="level">
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Tweets</p>
            <p class="title">3,456</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Following</p>
            <p class="title">123</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Followers</p>
            <p class="title">456K</p>
          </div>
        </div>
        <div class="level-item has-text-centered">
          <div>
            <p class="heading">Likes</p>
            <p class="title">789</p>
          </div>
        </div>
      </nav>
    </section> -->


<!-- Contact -->
<section class="section" id="contact">
  <div class="container">
    <div class="section-heading">
      <h3 class="title is-2">Contact</h3>
      <h4 class="subtitle is-5">Get in touch</h4>
    </div>
    <br>

    <div class="columns">
      <div class="column is-6 is-offset-3">
        {% include 'includes/_messages.html' %}
        <div class="box">
          <form action="" method="post">
            {% csrf_token %}
            <div class="field">
              <label class="label">Name</label>
              <div class="control">
                <input class="input" name="name" type="text" placeholder=" Name">
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left">
                <input class="input" name="email" type="email" placeholder="Email" value="">
                <span class="icon is-small is-left">
                  <i class="fas fa-envelope"></i>
                </span>
              </div>
            </div>

            <div class="field">
              <label class="label">Message</label>
              <div class="control">
                <textarea class="textarea" name="message" placeholder="Message"></textarea>
              </div>
            </div>

            <div class="field is-grouped has-text-centered">
              <div class="control">
                <button type="submit" class="button is-link is-large"><span class="icon">
                    <i class="fas fa-envelope"></i>
                  </span><span>Submit</span></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock content %}