<nav class="navbar is-link is-fixed-top">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <!-- Left side -->
    <!-- <div class="level-left">
    <div class="level-item">
      <p class="subtitle is-5">
        <strong>123</strong> posts
      </p>
    </div>
    <div class="level-item">
      <div class="field has-addons">
        <p class="control">
          <input class="input" type="text" placeholder="Find a post">
        </p>
        <p class="control">
          <button class="button">
            Search
          </button>
        </p>
      </div>
    </div>
  </div> -->
    <div class="navbar-end">
      <a class="navbar-item" href="#about">
        <span class="icon">
          <i class="fas fa-info"></i>
        </span>
        <span>About</span>
      </a>
      <a class="navbar-item" href="#services">
        <span class="icon">
          <i class="fas fa-bars"></i>
        </span>
        <span>Services</span>
      </a>
      <a class="navbar-item" href="#resume">
        <span class="icon">
          <i class="fas fa-file-alt"></i>
        </span>
        <span>Resume</span>
      </a>
      <a class="navbar-item" href="#portfolio">
        <span class="icon">
          <i class="fas fa-th-list"></i>
        </span>
        <span>Portfolio</span>
      </a>
      <a class="navbar-item" href="#contact">
        <span class="icon">
          <i class="fas fa-envelope"></i>
        </span>
        <span>Contact</span>
      </a>
      <a class="navbar-item" href="https://codewithsimon.com"
      target="_blank" rel="noopener noreferrer">
        <span class="icon">
          <i class="fas fa-blog"></i>
        </span>
        <span>Blog</span>
      </a>
    </div>
  </div>
</nav>